<table width="100%">
<tr>
  <td  valign="top">
    <h2>Welcome!</h2>
    <p>
      TweetOff is a Twitter trend tracking system. It allows you to monitor and compare real time results of any two Twitter search queries.
    </p>
    <br />
    <br />
    <p>
      Wanna play with it? <%= link_to "Get started!", new_race_path %>
    </p> 
  </td>
  <td  valign="top">
    <h2>How it works</h2>
    <p>
    <ol>
      <li>You enter two search queries that you would like to compare in real time.</li>
      <li>You enter a "race to" value - that is, the number of results you want one of the queries to return before the "race" ends.</li>
      <li>You are taken to a results page, where you can see the search results in real time as they are tweeted.</li>
    </ol>
    </p>
  </td>
</tr>
</table>