<h2>Why sign in?</h2>
<p>
  Signing in via Twitter is <strong>not required</strong> to use our service, but there are two advantages to doing so:
</p>
<ol>
  <li>
    We can message you when your race completes. While some races finish in just a few seconds, others take hours, days, even weeks to complete! When you create a race while signed in, we will @-reply you when we post the result so you can be sure you don't miss it.
  </li>
  <li>
    Unlimited races. We can only process a limited number of unauthenticated races every hour. When you log in, Twitter lets us get around this rate limit. We do not throttle signed in users.
  </li>
</ol>
<p>Note: <strong>TweetOff! only requests read access to your Twitter account</strong>. This prohibits us from posting to your account, even if we wanted to.</p>