<h2>Why sign in?</h2>
<p>
  TweetOff! does not require that you sign in via Twitter, but it provides a better service when you do:
</p>
<ol>
  <li>
    <strong>We will notify you when your race completes.</strong> While some races finish in just a few seconds, others take hours, days, even weeks to complete. When you create a race while signed in, we will @-reply you when it's done so you can be sure you don't miss it.
  </li>
  <li>
    <strong>Create as many races as you want.</strong> We can only process a limited number of unauthenticated races every hour. When you log in, Twitter lets us get around this rate limit. We do not throttle signed in users.
  </li>
</ol>
<p>Note: TweetOff! only requests read access to your Twitter account.</p>